<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h3>Game item :</h3>
    <p><b>ID : </b> <%= item.id %></p>
    <p><b>Title : </b> <%= item.title %></p>
    <p><b>Genre : </b> <%= item.genre %></p>
    <p><b>Developer : </b> <%= item.developer %></p>
    <br />
    <a href="/updateitem?id=<%=item.id%>">Update info</a>
    <a href="/deleteitem?id=<%=item.id%>">Delete item</a>
    <a href="/">Back to home ...</a>
  </body>
</html>
